{% extends "base.html" %}

{% block content %}


<!-- ===================== CERTIFICATES SECTION ===================== -->

<section id="certificates" class="certificates section">

    <div class="section-title">
        <span>Achievements</span>
        <h2>Certificates</h2>
        <p>
            Certifications, workshops, and technical events that have
            strengthened my knowledge and practical skills.
        </p>
    </div>

    <div class="certificate-container">

        <!-- Certificate 1 -->

        <div class="certificate-card">

            <i class="fas fa-award certificate-icon"></i>

            <h3>Elite Her Hackathon</h3>

            <p>
             Excited to share that our team MIND_SPARKS
             has been selected among the Top 50 Finalists of the Elite Her Hackathon!
             Out of 920+ innovative ideas, 5000+ participants.
            </p>

            <a href="{{ url_for('static', filename='images/certificate_Sonam.png') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>

        <!-- Certificate 2 -->

        <div class="certificate-card">

            <i class="fas fa-laptop-code certificate-icon"></i>

            <h3>Web Development</h3>

            <p>
                Learned HTML, CSS, JavaScript, responsive web design,
                and modern front-end development practices.
            </p>

            <a href="{{ url_for('static', filename='images/webdev.jpg') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>

        <!-- Certificate 3 -->

        <div class="certificate-card">

            <i class="fas fa-robot certificate-icon"></i>

            <h3>Artificial Intelligence Intern</h3>

            <p>
                coming soon
            </p>

            <a href="#" class="certificate-btn">
                View Certificate
            </a>

        </div>

        <!-- Certificate 4 -->

        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3>RockVerse Hackathon</h3>

            <p>
                I have received a Certificate for my contribution to RockVerse, a hackathon organized by Big Rock Exchange.💫

This experience was a great opportunity to  collaborate with talented individuals, and apply my problem-solving  skills.
            </p>

            <a href="{{ url_for('static', filename='images/rockverse.jpeg') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>


        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3>CyberSecurity Fundamentals</h3>

            <p>
                FRom Infosys Springboard , completed a course in cyber security funadamentals. Learning the skill and applying it to real world.
            </p>

            <a href="{{ url_for('static', filename='images/cybersecurity.png') }}" class="certificate-btn">
                View Certificate
            </a>

        </div>

        
        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3> Hackathon</h3>

            <p>
               coming soon
            </p>

            <a href="#" class="certificate-btn">
                View Certificate
            </a>

        </div>

        
        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3>Hackathon</h3>

            <p>
                coming soon
            </p>

            <a href="#" class="certificate-btn">
                View Certificate
            </a>

        </div>
        
        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3> Hackathon</h3>

            <p>
               coming soon
            </p>

            <a href="#" class="certificate-btn">
                View Certificate
            </a>

        </div>

        
        <div class="certificate-card">

            <i class="fas fa-trophy certificate-icon"></i>

            <h3>Hackathon</h3>

            <p>
                coming soon
            </p>

            <a href="#" class="certificate-btn">
                View Certificate
            </a>

        </div>

    </div>

</section>

{% endblock %}