{% extends "base.html" %}

{% block content %}

<!-- ===================== EDUCATION SECTION ===================== -->

<section id="education" class="education section">

    <div class="section-title">
        <span>My Journey</span>
        <h2>Education</h2>
        <p>
            My academic journey has helped me build a strong foundation in
            computer science and develop a passion for Artificial Intelligence.
        </p>
    </div>

    <div class="timeline">

        <!-- College -->

        <div class="timeline-item">

            <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>

            <div class="timeline-content">

                <span class="timeline-date">
                    2024 - 2028
                </span>

                <h3>
                    Bachelor of Technology
                </h3>

                <h4>
                    Computer Science Engineering
                </h4>

                <p>
                    Jai Parkash Mukand Lal Innovation Engineering and Technology Institute,
                    Radaur, Haryana
                </p>

                <ul>
                    <li>Currently pursuing B.Tech in Computer Science Engineering.</li>
                    <li>Exploring Artificial Intelligence, Machine Learning, and Web Development.</li>
                    <li>Actively participating in hackathons and technical events.</li>
                    <li>Building real-world projects using Python and Flask.</li>
                </ul>

            </div>

        </div>

 <div class="timeline-item">

            <div class="timeline-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>

            <div class="timeline-content">

                <span class="timeline-date">
                    2023-2024
                </span>

                <h3>
                    Senior Secondary
                </h3>

                <h4>
                    Non-Medical(Computer Science)
                </h4>

                <p>
                    Sanjay Gandhi Senior Secondary Memorial Public School Ladwa,Kurukshetra, Haryana
                </p>

               <ul>
                    <li>Done +2 class in non-medical with computerscience.</li>
                    <li>Participated in many events at local and state level.</li>
                    <li>Student Editor of School Magazine.</li>
                    <li>Gold medal in SOF olympiad.</li>
                </ul>
            </div>

        </div>


        <!-- Future Goal -->

        <div class="timeline-item">

            <div class="timeline-icon">
                <i class="fas fa-rocket"></i>
            </div>

            <div class="timeline-content">

                <span class="timeline-date">
                    AIML Intern
                </span>

                <h3>
                    Intern at CodroidHub Pvt. Ltd.
                </h3>

                <p>
                    After 2nd year , I have done internship as a AIML Intern with CodroidHub Pvt. Ltd. Ambala.
                </p>

            </div>

        </div>

    </div>

    <div class="timeline-item">

            <div class="timeline-icon">
                <i class="fas fa-rocket"></i>
            </div>

            <div class="timeline-content">

                <span class="timeline-date">
                    Future Goal
                </span>

                <h3>
                    Aspiring AI Engineer
                </h3>

                <p>
                    My goal is to become an AI Engineer and Full Stack Developer,
                    contributing to innovative products that solve real-world
                    challenges using Artificial Intelligence.
                </p>

            </div>

        </div>

    </div>

</section>

{% endblock %}